NODE_ENV=development
APP_PORT=3000
APP_NAME="extension-api"
API_PREFIX=api
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000

DATABASE_TYPE=mongodb
DATABASE_HOST=mongodb://localhost:27017/extension-api
DATABASE_PORT=27017
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=api
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

OPENAI_SECRET=

AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=1d
